.profile__edit-button {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: solid 1px white;
  margin-right: auto;
  margin-left: 18px;
  margin-top: 31px;
  background-image: url(/images/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
}
