.profile__edit-button {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: solid 1px white;
  margin-right: auto;
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: baseline;
  background-color: black;
  padding: 0;
}
