.profile__edit-button {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: solid 1px white;
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  padding: 0;
  align-self: center;
  margin-top: 6px;
  margin-right: 20px;
  transition: opacity 0.5s;
}

.profile__edit-button {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
  }
}
