.popup__input-job {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  border: 0;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.popup__input-job:focus {
  outline: 0;
}
