.popup__input-name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin: 0;
  border: 0;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  padding-bottom: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.popup__input-name:focus {
  outline: 0;
}

