.elements {
  width: calc(100% - (200px * 2));
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  gap: 16px;
  align-self: center;
  color: black;
  margin-bottom: 67px;
}
