.popup__close {
  background: url(../../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  padding: 0;
  border: 0;
  width: 33px;
  height: 33px;
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(0,0,0,0.0);
  top: -38px;
  left: 433px;
  transition: opacity 0.5s;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__close {
    width: 20px;
    height: 20px;
    left: 402px;
    top: -42px;
  }
}

@media screen and (max-width: 530px) {
  .popup__close {
    left: 254px
  }
}
